* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}


.socials {
   margin-top: 100px;
}

.button {
    margin-top: 90px;
    background: #240046;
    border-radius: 10px;
    
}

.contact-btn {
    text-decoration: none;
    color: #FFFFFF;
    background: #240046;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
}

.contact {
    width: 149.2px;
    margin-right: 300px;
   text-align: center;
   margin: auto;
}

.text {
    font-size: 16px;
}


.side-menu {
    background-color: #F5F5F5;
    min-width: 100vw;
    min-height: 100vh;
}

.list-group {
    box-shadow: 0px 10px 20px 0px #2400460D;
}

.side-menu{
    background: #FFFFFF;
}

.text1 {
    font-style: normal;
    font-size: 18px;
}

.list-group :hover {
    background: #111111;
    color: white;
}

.image{
    filter: drop-shadow(0px 7px 15px rgba(36, 0, 70, 0.1));
    border-radius: 15px;
}


.filter, .navigations, .banny {
    background: #24004617;
}

.text1, .text, .nav-link, .searches, .contact-text {
    color: #240046;
}

.contact-text {
    font-size: 30px;
}

.smaller-text, .nav-link, .tab-pane, .name, .contact-btn, .locations, .contacts {
    font-size: 18px;
}


#drummer-section {
    box-shadow: 0px 7px 15px 0px #2400461A;
}


.nav-item {
    background: rgba(36, 0, 70, 0.09);
    border: 1px solid #240046;
    border-radius: 10px;
}

.nav-item:hover {
    background: #240046;
    text-decoration-color: white;
    border: none;
}

.nav-tabs {
    display: flex !important;
    justify-content: space-between !important; 
} 

.nav-tabs {
    width: clamp(100%,70%,50%);
}

.navigations-section {
    display: flex;
    justify-content: space-between;
}

.navigations {
    width: 60%;
    border-radius: 10px;
}


.banny {
    width: 30%;
    margin-right: 30px;
    border-radius: 10px;
    padding: 30px;
}


.information {
    background: rgba(36, 0, 70, 0.1);
    border-radius: 6px;
}

.date {
    font-size: 10px;
}

.comment {
    font-size:12px;
}

.searches {
    margin-top: 200px;
    font-size: 30px;
}

.youtube-images {
    position: relative;
    display: block;
   /* background:linear-gradient( rgba(17, 17, 17, 0.76)), url(../img/upload.png);*/
    border-radius: 15px;
}
   

.youtube {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

.images-searches {
    filter: drop-shadow(0px 7px 15px rgba(36, 0, 70, 0.1));
    border-radius: 15px;
}

.searched {
    font-size: 17px;
}

.hire-btn {
    text-decoration: none;
    color: #FFFFFF;
    background: #240046;
    border-radius: 10px;
    
   }



   .button {
    margin-top: 200px;
   }

.name, .describe {
    font-size: 26px;
} 

.border {
    width: 100%;
    padding-left: 50px;
    padding-right: 0px;
}

#contact-section {
    box-shadow: 0px 7px 15px 0px #2400461A;
    background: #FFFFFF;
}

.review {
    color: #929292;
    font-size: 13px;
}

.locations {
    font-size: 18px;
}

.second-drummer {
    box-shadow: 0px 7px 15px 0px #2400461A;
}

.small-text {
    color: #606060;
    font-size: 18px;
}

.available-text {
    color: #240046;
    font-size: 18px;
}

.chats {
    font-size: 24px;
}

.second-chat {
    border: 2px solid #333333
}



.undo {
    text-align:end;
}

.iconify:hover {
    color: blue;
}

.align {
    margin-left: 50px;
}

.undo{
    margin-left: 350px;
}

@media (max-width: 769px) and (min-width:426px) {
    body {
        width: 100%;
        overflow-x : hidden;
    }

    .Danny {
        font-size: 8px;
    }

    .reviews-2 {
        font-size: 4px;
    }

    .email {
        font-size: 6px;
    }

    .searches-smallscreen {
        font-size: 12px;
    }

    .contact-btn {
        width: 59px;
    }

    .hire-btn {
        width: 59px;
    }

    .nav-item {
        width: 140px;
    }

    .btn-small {
        width: 90px;
    }

    .banny{
        padding-left: 10px;
    }
    
    .undo {
        margin-left: 100px;
    }

    .details-1, .number {
        font-size: 7px;
    }

    .small-text, .available-text {
        font-size: 10px;
        width: 500px
    }

    .textarea.form-control-lg, textarea.form-control, .border {
        width: 90%;
    }

    .border {
        padding-left: 0px;
    }

    .name {
        font-size: 10px;
    }

    .other-text {
        font-size: 7px;
    }

    .drums {
        flex-direction: column;
    }


    
}


@media (max-width: 426px) {

    .body {
        width: 100%;
        overflow-x: hidden;
    }
     .drums {
         flex-direction: column;
         width: 100%;
     }

     .undo {
        margin-left: 100px;
    }

    .describe {
        margin-top: 20px;
        text-align: center;
    }

    .small-text {
        width: 350px;
    }

    .available-text {
        width: 500px;
    }

    .border{
        padding-left: 5px;
    }
    
    .iconify-1 {
        margin-left: 5px;
    }

    .align {
        margin-left: 5px;
    }

    .Danny, .searched {
        font-size: 8px;
    }

    .reviews-2 {
        font-size: 4px;
    }

    .email, .details-1 {
        font-size: 6px;
    }

    .navigations {
        width: 180px;
    }

    .nav-link, .number, .comment, .date {
        font-size: 6px;
    }

    .date {
        margin-top: 5px;
    }

    .comment {
        margin-bottom: 20px;
    }

    .nav-item {
        width: 51px;
    }

    .btn-small {
        width: 40px;
    }

    .contact-btn {
        width: 59px;
        padding-right: 0px;
       padding-left: 0px;
       margin-right: 50px;
       font-size: 8px;
    }

    .hire-btn {
        width: 59px;
    }

    .banny{
        width: 121px;
        padding-left: 10px;
    }
    .stars {
        width: 5.63px;
    }

    .message {
        width: 7px;
    }

    .phone {
        width: 6.5px;
    }

    .socials {
        display: flex;
    }

    .social-1 {
        width: 8.75px;
    }

    .text-center {
        font-size: 12px;
    }

    .details-1, .number {
        font-size: 7px;
    }

    .small-text, .available-text {
        font-size: 10px;
        width: 400px
    }

    .textarea.form-control-lg, textarea.form-control, .border {
        width: 90%;
    }

    .border {
        padding-left: 0px;
    }
    .name {
        font-size: 10px;
    }

    .contact {
        text-align: center;
        margin: auto;

    }

    .other-text {
        font-size: 7px;
    }


}
