* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.socials {
   margin-top: 100px;
}

.button {
    margin-top: 90px;
    background: #240046;
    border-radius: 10px;
    
}

.contact-btn {
    text-decoration: none;
    color: #FFFFFF;
    background: #240046;
    border-radius: 10px;
    margin-top: 50px;
}

.text {
    font-size: 16px;
}


.side-menu {
    background-color: #F5F5F5;
    min-width: 100vw;
    min-height: 100vh;
}

.list-group {
    box-shadow: 0px 10px 20px 0px #2400460D;
}

.side-menu{
    background: #FFFFFF;
}

.text1 {
    font-style: normal;
    font-size: 18px;
}

.list-group :hover {
    background: #111111;
    color: white;
}

.image{
    filter: drop-shadow(0px 7px 15px rgba(36, 0, 70, 0.1));
    border-radius: 15px;
}


.filter, .navigations, .banny {
    background: #24004617;
}

.text1, .text, .nav-link, .searches, .contact-text {
    color: #240046;
}

.contact-text {
    font-size: 30px;
}

.smaller-text, .nav-link, .tab-pane, .name, .contact-btn, .locations, .contacts {
    font-size: 18px;
}


#drummer-section {
    box-shadow: 0px 7px 15px 0px #2400461A;
}


.nav-item {
    background: rgba(36, 0, 70, 0.09);
    border: 1px solid #240046;
    border-radius: 10px;
}

.nav-item:hover {
    background: #240046;
    text-decoration-color: white;
    border: none;
}

.nav-tabs {
    display: flex !important;
    justify-content: space-between !important; 
} 

.navigations-section {
    display: flex;
    justify-content: space-between;
}

.navigations {
    width: 60%;
    border-radius: 10px;
}


.banny {
    width: 30%;
    margin-right: 30px;
    border-radius: 10px;
}


.information {
    background: rgba(36, 0, 70, 0.1);
    border-radius: 6px;
}

.date {
    font-size: 10px;
}

.comment {
    font-size:12px;
}

.searches {
    margin-top: 200px;
    font-size: 30px;
}

.youtube-images {
    position: relative;
    display: block;
   /* background:linear-gradient( rgba(17, 17, 17, 0.76)), url(../img/upload.png);*/
    border-radius: 15px;
}
   

.youtube {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

.images-searches {
    filter: drop-shadow(0px 7px 15px rgba(36, 0, 70, 0.1));
    border-radius: 15px;
}

.searched {
    font-size: 17px;
}

.hire-btn {
    text-decoration: none;
    color: #FFFFFF;
    background: #240046;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom:100px;
    text-align: center;
}

.button {
    margin-top: 10px;
    margin-bottom:100px;
    text-align: center;
}

.name, .describe {
    font-size: 26px;
} 

.border {
    width: 100%;
    padding-left: 50px;
    padding-right: 0px;
}

#contact-section {
    box-shadow: 0px 7px 15px 0px #2400461A;
    background: #FFFFFF;
}

.review {
    color: #929292;
    font-size: 13px;
}

.locations {
    font-size: 18px;
}

.second-drummer {
    box-shadow: 0px 7px 15px 0px #2400461A;
}

.small-text {
    color: #606060;
    font-size: 18px;
}

.available-text {
    color: #240046;
    font-size: 18px;
}

.chats {
    font-size: 24px;
}

.second-chat {
    border: 2px solid #333333
}

@media (max-width: 426px) {
    .second-drummer{
        width: 100%;
    }

    .second-text {
        width: 100%;
    }
}
